# Logs

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

*.tmp
uploads/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
key.pem
setup.sh
*.cert
*.certs
hydra/codigobase
node_modules
bin
mailserver
hydra
docsv2*
docsv3*
docsv4*
docsv5*
docsv6*

.gemini/
gha-creds-*.json
